@font-face {
    font-family: 'iconfont';  /* Project id 2746623 */
    src: url('//at.alicdn.com/t/font_2746623_cbiowkfydl.woff2?t=1629081034115') format('woff2'),
         url('//at.alicdn.com/t/font_2746623_cbiowkfydl.woff?t=1629081034115') format('woff'),
         url('//at.alicdn.com/t/font_2746623_cbiowkfydl.ttf?t=1629081034115') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}