@font-face {
    font-family: 'iconfont';  /* Project id 2746623 */
    src: url('//at.alicdn.com/t/font_2746623_0cynf073p5hj.woff2?t=1629084009432') format('woff2'),
         url('//at.alicdn.com/t/font_2746623_0cynf073p5hj.woff?t=1629084009432') format('woff'),
         url('//at.alicdn.com/t/font_2746623_0cynf073p5hj.ttf?t=1629084009432') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}